<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <%= link_to t('.home'), root_path %>
    </div>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarProductCategories">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarProductCategories" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Category 1
      </a>

      <a class="navbar-item">
        Category 2
      </a>
    </div>
  </div>
</nav>
