<section class="hero has-text-centered has-background-grey">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        <%= t('.title') %>
      </h1>
      <p class="subtitle is-3">
        <%= t('.subtitle') %>
      </p>

      <%= link_to t('.our_products'), products_path, class: "button is-primary is-outlined is-large" %>
    </div>
  </div>
</section>
