@import "~bootswatch/dist/minty/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/minty/bootswatch";

.bg-cover {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
