<%= render partial: 'components/navbar' %>

<div class="container py-3">
  <% if admin_signed_in? %>
    <div class="row">
      <div class="mx-auto">
        <%= link_to t('.add_product'), new_product_path, class: "btn btn-primary my-3" %>
      </div>
    </div>
  <% end %>

  <% if @products.present? %>
    <div class="row row-cols-1 row-cols-md-3">
      <%= render partial: "product", collection: @products %>
    </div>
  <% else %>
    <section class="py-5">
      <%= t('.no_results') %>
    </section>
  <% end %>
</div>
